/* 
   RESET

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET END*/

/*MY CSS*/

body
{
  background-image:url('../images/web-bg.gif');
  text-align: center;
}

h1
{
	background-color: blue;
	color: white;
	font-size: 40px;
	font-weight: bold;
}

h2
{
	background-color: red;
	color: white;
	font-size: 30px;
}

h3
{
	background-color: red;
	color: white;
	font-size: 20px;
}

#content
{
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	width: 90%;
}

#header
{
	width: 90%;
	margin: 0 auto;
}

#sidebarleft
{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

.profilepic
{
	height: 190px;
	width:49%;
	float: left;
	background-image:url('../images/profilepic.gif');
}

.navbar
{
	float: right;
	clear: right;
	width:49%;
}

.navbar .nav li
{
	width: 100%;
	background-color: #d4d0c7;
	margin: 5px 0;
	border: 2px outset buttonface;
}

.navbar .nav li a
{
	color: black;
	text-decoration: none;
	font-size: 15px;
}

.navbar .nav li #search
{
	width: 98%;
	text-align: center;
}

#contentwrap
{
	margin: 0 auto;
	margin-top: 230px;
	margin-bottom: 20px;
	width: 90%;
}

.bulletin
{
	height: 300px;
	border: solid 2px black;
	margin-bottom: 10px;
	background-color: white;
}

#bulletintitle
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.sendbox
{
	margin-top:10px;
}

.sendbox #user
{
	width: 100%;
	text-align: center;
}

.sendbox #question
{
	width: 100%;
	text-align: center;
}

.sendbox #send
{
	width: 100px;
	background-color: #d4d0c7;
	margin-bottom: 10px;
}

@media only screen and (min-width: 840px)
{

}


