body {
  background-color: #f1f1f1;
  color: #323232;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.links, header ul li a, #connectme a {
  text-decoration: none;
  color: #323232; }

header ul {
  width: 100%;
  margin-left: -48px;
  margin-top: -8px; }
  header ul li {
    width: 50%;
    float: left;
    list-style-type: none; }
    header ul li a {
      height: 21px;
      padding: 0 20px; }
    header ul li #logout {
      float: right;
      padding: 0 2px; }
    header ul li #logosmall {
      background-image: url("../assets/logos/ela_thumb.png");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      display: block;
      text-indent: -9999px;
      margin-left: 70px;
      margin-top: -20px; }
header #logobig {
  background-image: url("../assets/logos/ela_logo_small.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  display: block;
  background-size: 200px 97px;
  width: 200px;
  height: 97px;
  text-indent: -9999px;
  margin: 0px auto;
  margin-bottom: 50px;
  padding-bottom: 50px; }
header h3 {
  text-align: center; }
header p {
  text-align: center; }

.bigbutton, #login a, #connectme a, #profile #profcontainer #profilepic {
  background-color: #0d9fbe;
  width: 120px;
  height: 85px;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  font-size: 11px;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid #0dbebe;
  padding-top: 35px; }

.bigbutton:hover, #login a:hover, #connectme a:hover, #profile #profcontainer #profilepic:hover {
  background-color: #0dbebe;
  border: 2px solid #0d9fbe; }

.bigbutton, #login a, #connectme a, #profile #profcontainer #profilepic {
  background-color: #0d9fbe;
  width: 120px;
  height: 85px;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  font-size: 11px;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid #0dbebe;
  padding-top: 35px; }

.bigbutton:hover, #login a:hover, #connectme a:hover, #profile #profcontainer #profilepic:hover {
  background-color: #0dbebe;
  border: 2px solid #0d9fbe; }

.links, header ul li a, #connectme a {
  text-decoration: none;
  color: #323232; }

header ul {
  width: 100%;
  margin-left: -48px;
  margin-top: -8px; }
  header ul li {
    width: 50%;
    float: left;
    list-style-type: none; }
    header ul li a {
      height: 21px;
      padding: 0 20px; }
    header ul li #logout {
      float: right;
      padding: 0 2px; }
    header ul li #logosmall {
      background-image: url("../assets/logos/ela_thumb.png");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      display: block;
      text-indent: -9999px;
      margin-left: 70px;
      margin-top: -20px; }
header #logobig {
  background-image: url("../assets/logos/ela_logo_small.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  display: block;
  background-size: 200px 97px;
  width: 200px;
  height: 97px;
  text-indent: -9999px;
  margin: 0px auto;
  margin-bottom: 50px;
  padding-bottom: 50px; }
header h3 {
  text-align: center; }
header p {
  text-align: center; }

#countrywrap {
  margin: 0px auto;
  padding-top: 40px;
  text-align: center; }
  #countrywrap #countries {
    width: 90%; }

#connectme {
  margin-top: 167px; }
  #connectme a {
    color: white; }

.bigbutton, #login a, #connectme a, #profile #profcontainer #profilepic {
  background-color: #0d9fbe;
  width: 120px;
  height: 85px;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  font-size: 11px;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid #0dbebe;
  padding-top: 35px; }

.bigbutton:hover, #login a:hover, #connectme a:hover, #profile #profcontainer #profilepic:hover {
  background-color: #0dbebe;
  border: 2px solid #0d9fbe; }

.bulletin {
  width: 100%;
  height: 300px;
  overflow: scroll;
  padding-top: 40px;
  padding-left: 13px;
  margin-bottom: 30px; }
  .bulletin .chatPIC {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    border-radius: 60px;
    border: 2px solid #0dbebe;
    top: 0;
    -webkit-animation: post 1s;
    -ms-animation: post 1s;
    animation: post 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .bulletin .chatpost {
    width: 75.8%;
    background-color: white;
    display: inline-block;
    word-break: normal;
    vertical-align: top;
    margin-top: 0px;
    margin-left: 10px;
    padding: 8px 0px;
    padding-left: 10px;
    -webkit-animation: post 1s;
    -ms-animation: post 1s;
    animation: post 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

@-webkit-keyframes post {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px); } }
.sendbox {
  width: 95%; }
  .sendbox #send {
    width: 30px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    border-radius: 60px;
    font-size: 11px;
    font-size: 1.1rem;
    border: 2px solid #0dbebe;
    margin-right: 10px;
    margin-left: 13px; }
  .sendbox #message {
    width: 82%;
    height: 23px;
    border-color: #0dbebe; }

.bigbutton, #login a, #connectme a, #profile #profcontainer #profilepic {
  background-color: #0d9fbe;
  width: 120px;
  height: 85px;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  font-size: 11px;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid #0dbebe;
  padding-top: 35px; }

.bigbutton:hover, #login a:hover, #connectme a:hover, #profile #profcontainer #profilepic:hover {
  background-color: #0dbebe;
  border: 2px solid #0d9fbe; }

#profile {
  position: absolute;
  width: 90%;
  left: -90%;
  height: 100%;
  background-color: #323232;
  color: #f1f1f1;
  top: 0; }
  #profile #profcontainer {
    width: 80%;
    margin: 0 auto; }
    #profile #profcontainer p {
      padding: 10px 0px;
      border-bottom: 1px solid black; }
    #profile #profcontainer #profilepic {
      padding-top: 0px;
      width: 120px;
      height: 120px;
      margin-top: 105px;
      -webkit-transition-duration: 0.8s;
      -moz-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      overflow: hidden; }
    #profile #profcontainer #profilepic:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg); }

.nav-animation {
  -webkit-animation: nav-animation 1s;
  -ms-animation: nav-animation 1s;
  animation: nav-animation 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes nav-animation {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); } }
@-webkit-keyframes site-container-animation {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

  100% {
    -webkit-transform: translateX(93%);
    -ms-transform: translateX(93%);
    transform: translateX(93%); } }
.site-container-animation {
  -webkit-animation: site-container-animation 1s;
  -ms-animation: site-container-animation 1s;
  animation: site-container-animation 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.nav-animation-back {
  -webkit-animation: nav-animation-back 1s;
  -ms-animation: nav-animation-back  1s;
  animation: nav-animation-back  1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes nav-animation-back {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }

  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes site-container-animation-back {
  0% {
    -webkit-transform: translateX(93%);
    -ms-transform: translateX(93%);
    transform: translateX(93%); }

  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
.site-container-animation-back {
  -webkit-animation: site-container-animation-back 1s;
  -ms-animation: site-container-animation-back 1s;
  animation: site-container-animation-back 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
