$color-bg: #f1f1f1; 
$color-primarytext: #323232;
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif; 

body
{
	background-color: $color-bg;
	color: $color-primarytext;
	font-family: $font-helvetica;
}