doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/script.js")
    //gekopiërd omda ik anders 't scriptje ni kan linken
    script(src="/javascripts/faye/browser/faye-browser.js")