<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>IMDernational</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="tommoore.be">
	<link type="text/css" rel="stylesheet" href="/stylesheets/reset.css">
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>	
<% if (!user) { %>
	<h2>IMDernational</h2>
	<h3>Chat with people across the whole world</h3>
	<a href="/auth/facebook">Login with Facebook</a>
<% } else { %>
	<h2>IMDernational</h2>
	<h3>Chat with people across the whole world</h3>
	<p>Hello, <%= user.displayName %>.</p>
	<a href="/account">Account</a>
	<a href="/logout">Log Out</a>
<% } %>
</body>
</html>