@import 'partials/loginscreen';

$color-BG: #323232;
$color-txt: #f1f1f1;

#profile
{
	position: absolute;
	width:90%;
	left: -90%;
	height: 100%;
	background-color: $color-BG;
	color: $color-txt;
	top:0;
	display:none;

	#profcontainer
	{
		width: 80%;
		margin: $margin-center;

		p
		{
			padding: 10px 0px;
			border-bottom: 1px solid black;
		}

		#profilepic
		{
			@extend .bigbutton;

			padding-top: 0px;
			width: 120px;
			height: 120px;
			margin-top: 105px;

			img
			{

			}
		}
	}
}

.nav-animation
{
	margin-left: 90%;
}

.site-container-animation
{
	left: 90%;
	overflow: hidden;
	position:absolute;
	width: 100%;
}