@import 'partials/loginscreen';

$color-BG: #323232;
$color-txt: #f1f1f1;

#profile
{
	position: absolute;
	width:90%;
	left: -90%;
	height: 100%;
	background-color: $color-BG;
	color: $color-txt;
	top:0;
	

	#profcontainer
	{
		width: 80%;
		margin: $margin-center;

		p
		{
			padding: 5px 0px;
			border-bottom: 1px solid black;
		}

		#profilepic
		{
			@extend .bigbutton;

			padding-top: 0px;
			width: 120px;
			height: 120px;
			margin-top: 45px;

			img
			{

			}

			-webkit-transition-duration: 0.8s;
		    -moz-transition-duration: 0.8s;
		    -o-transition-duration: 0.8s;
		    transition-duration: 0.8s;
		     
		    -webkit-transition-property: -webkit-transform;
		    -moz-transition-property: -moz-transform;
		    -o-transition-property: -o-transform;
		    transition-property: transform;
		     
		    overflow:hidden;

		}

		#profilepic:hover
		{
			-webkit-transform:rotate(360deg);
    		-moz-transform:rotate(360deg);
    		-o-transform:rotate(360deg);
		}

		#langBox
		{
			background-color: #323232;
			color: white;
			border:0px;
        	outline:0px;
		}
	}
}

.nav-animation
{
	-webkit-animation: nav-animation 1s;
	-ms-animation: nav-animation 1s;
	animation: nav-animation 1s;

	@include animation-fill(forwards);
}

@-webkit-keyframes nav-animation
{
	0% {-webkit-transform: translateX(0%);

		-ms-transform: translateX(0%);
		transform: translateX(0%);
	   }
	100% {-webkit-transform: translateX(100%);

		  -ms-transform: translateX(100%);
		  transform: translateX(100%);
		 }
}

@-webkit-keyframes site-container-animation
{
	0% {-webkit-transform: translateX(0%);

		-ms-transform: translateX(0%);
		transform: translateX(0%);
	   }
	100% {-webkit-transform: translateX(93%);

		  -ms-transform: translateX(93%);
		  transform: translateX(93%);
		 }
}

.site-container-animation
{
	-webkit-animation: site-container-animation 1s;
	-ms-animation: site-container-animation 1s;
	animation: site-container-animation 1s;

	@include animation-fill(forwards);
}

.nav-animation-back
{
	-webkit-animation: nav-animation-back 1s;
	-ms-animation: nav-animation-back  1s;
	animation: nav-animation-back  1s;

	@include animation-fill(forwards);
}

@-webkit-keyframes nav-animation-back 
{
	0% {-webkit-transform: translateX(100%);

		-ms-transform: translateX(100%);
		transform: translateX(100%);
	   }
	100% {-webkit-transform: translateX(0%);

		  -ms-transform: translateX(0%);
		  transform: translateX(0%);
		 }
}

@-webkit-keyframes site-container-animation-back
{
	0% {-webkit-transform: translateX(93%);

		-ms-transform: translateX(93%);
		transform: translateX(93%);
	   }
	100% {-webkit-transform: translateX(0%);

		  -ms-transform: translateX(0%);
		  transform: translateX(0%);
		 }
}

.site-container-animation-back
{
	-webkit-animation: site-container-animation-back 1s;
	-ms-animation: site-container-animation-back 1s;
	animation: site-container-animation-back 1s;

	@include animation-fill(forwards);
}

