$margin-center: 0px auto;
$color-primarytext: #323232;

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

.links
{
	text-decoration: none;
	color: $color-primarytext;
}

header
{
  ul
  {
    width: 100%;
    margin-left:-48px;
    margin-top:-9px;

  	li
  	{
      a
      {
        @extend .links;

        height: 21px;
        padding: 0 20px;
      }
      #logout
      {
        float:right;
        padding: 0 2px;
      }

      width: 50%;
      float:left;
      list-style-type: none;
  	}
  }
  #logobig
  {
  	background-image: url("../assets/logos/ela_logo_small.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    display: block;
    background-size: 200px 97px;
    width: 200px;
	  height: 97px;
    text-indent: -9999px;
    margin: $margin-center;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  h3
  {
  	text-align: center;
  }
  p
  {
  	text-align: center;
  }
}