$color-bgbuttons: #0d9fbe;
$color-border: #0dbebe;
$margin-center: 0 auto;

@mixin border-radius($radius) { 
 -webkit-border-radius: $radius; 
 -moz-border-radius: $radius; 
 -ms-border-radius: $radius; 
 border-radius: $radius; 
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

.bigbutton
{
  background-color: $color-bgbuttons;
  width: 120px;
  height: 120px;
  color: white;
  display: block;
  text-decoration:none;
  text-align: center;
  @include border-radius(60px);
  @include font-size(1.1); 
  margin: $margin-center;
  margin-top: 30px;
  border: 1px solid $color-border;

  a
  {
    vertical-align:bottom;
  }
}

#login
{
  p
  {
    color: $color-border;
  	text-align: center;
    margin-bottom: -34px;
  }
  a
  {
    @extend .bigbutton;
  }
}